*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.main{
   height: 100vh;
   width: 100%;
   background: #14213d;
   display: flex;
   align-items: center;
   justify-content: center;
}

.conta{
    background-color: #fefae0;
    height: 170px;
    width: 60%;
    border-radius: 10px;
}
.conta h3{
    text-align: center;
    font-size: 2vw;
    padding-bottom: 10px;
    font-weight: 100;
    border-bottom: 1px solid #000000;
}
.watch{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
}
.watch span{
    font-size: 5vw;
    font-weight: 300;
    display: inline-block;
    text-align: center;
    width: 100px;
    position: relative;
    
}

#Hrs{
    color: #2a9d8f;
}
#mins{
    color: #2a9d8f;
}
#sec{
    color: #2a9d8f;
}

.watch .time{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.watch .time h2{
    font-size: 5vw;
    font-weight: 100;
    
}